:root{
    --accent-color: hsl(47, 88%, 63%);
    --neutral-color: hsl(0, 0%, 100%);
    --color-text-primary: hsl(0, 0%, 7%);
    --color-text-secondary: hsl(0, 0%, 50%);
}

html, body{
    height: 100%;
}

html{
    display: table;
    margin: auto;
}

body{
    display: table-cell;
    vertical-align: middle;
    background-color: var(--accent-color);
    text-align: center;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.card{
    background-color: var(--neutral-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 385px;
    height: fit-content;
    margin: auto;
    padding: 24px;
    border-radius: 20px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid var(--color-text-primary);
    box-shadow: 8px 8px var(--color-text-primary);
}

.card:hover{
    box-shadow: 16px 16px var(--color-text-primary);
    transform: translateX(-8px) translateY(-8px);
}

.thumbnail{
    display: block;
    border-radius: 10px;
    height: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.tag{
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: 800;
    font-size: 14px;
    margin: 0px;
}

.date{
    color: var(--color-text-primary);
    margin: 0px;
}

h1{
    font-size: 24px;
    font-weight: 800;
    margin: 0px;
}

h1:hover{
    color: var(--accent-color);
    cursor: pointer;
}

p{
    color: var(--color-text-secondary);
    font-size: 16px;
    line-height: 150%;
    margin: 0px;
}

.author{
    display:flex;
    align-items:center;
}

.avatar{
    width: 32px;
    height: 32px;
    margin: 0px;
    margin-right: 12px;
}
.name{
    display:inline-block;
    margin: 0px;
    color: var(--color-text-primary);
    font-size: 14px;
    font-weight: 800;
}
